@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

body {font-family: 'Lato', sans-serif; padding-top: 80px;}
a {text-decoration: none; color: #d2b598;}
* {margin: 0; padding: 0;}
.inner-wrapper {display: block; width: 100%; max-width: 1280px; margin: 0 auto;}
.inner-wrapper.content {margin: 60px auto;}
h1 {font-weight: 300; padding: 0 0 30px 0;}
h2 {font-weight: 300; padding: 0 0 20px 0;}
p {color: #666666;}
a.btn-link {display: inline-block; color: #d2b598; padding: 12px 40px; border: 1px solid #d2b598; border-radius: 5px; text-decoration: none; font-size: 15px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
a.btn-link:hover {background: #d2b598; color: #FFF;}

/** Header **/
header {display: block; width: 100%; height: 80px; font-size: 0; border-bottom: 1px solid #EEEEEE; position: fixed; top: 0; right: 0; left: 0; z-index: 9000; background: #FFF;}
.transition {transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
.nav-left {display: inline-block; width: 35%; font-size: 15px;}
.logo-container {display: inline-block; width: 30%; text-align: center; text-transform: uppercase; color: #333333; font-weight: bold; font-size: 26px; letter-spacing: 8px;}
.logo-mobile {display: none;}
.mobile-menu-toggle {display: none;}
span.logo {display: block; position: relative; bottom: -4px;}
.nav-right {display: inline-block; width: 35%; font-size: 15px;}
nav > ul > li {display: inline-block; list-style: none; margin-right: 20px; position: relative; height: 80px; line-height: 80px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
nav > ul > li:last-child {margin-right: 0;}
nav ul li a {color: #707070; text-decoration: none;}
nav ul li ul {display: none; position: absolute; left: 0; width: 200px; height: auto; background: #292929; padding: 30px; margin-left: -30px; line-height: initial;}
nav ul li ul li {list-style: none; font-weight: 300; padding-bottom: 16px;}
nav ul li ul li:last-child {padding-bottom: 0;}
nav ul li ul li a {color: #AAA; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
nav ul li ul li a:hover {color: #EEE;}
nav ul li:hover > ul {display: block;}
.toggle-search {cursor: pointer;}

/** Navigation rechts neben Logo **/
.nav-right {text-align: right;}
.nav-right ul li {display: inline; margin-right: 20px;}
.nav-right ul li a {color: #707070;}
.nav-right ul li:last-child {margin-right: 0;}
.nav-right ul li {color: #707070;}
.nav-right ul li.warenkorb {margin-right: 10px;}
li.warenkorb ul {display: none;}
.nav-right ul li img {width: 22px; height: auto; position: relative; bottom: -6px;}
.search-icon {width: 20px !important;}
.li-cart-mobile {display: none;}

/** Navigation wenn User angemeldet ist **/
.loggedinuser {position: relative;}
.loggedinuser ul {display: none; position: absolute; left: 0; width: 220px; margin-left: -70px; height: auto; line-height: initial; text-align: left; padding-top: 25px;}
.user-dropdown-wrap {border: 1px solid #EEE;}
.loggedinuser ul li {display: block; padding-bottom: 10px; background: #FFF; margin-right: 0; padding: 0 20px;}
.loggedinuser ul li a {border-bottom: 1px solid #F7F7F7; padding: 14px 0; display: block; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
.loggedinuser ul li a:hover {color: #d2b598;}
.loggedinuser ul li:last-child a {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
.loggedinuser ul li:last-child {padding-bottom: 20px;}
.loggedinuser ul li:first-child {padding-top: 10px;}
.loggedinuser:hover > ul {display: block;}
.loggedinuser ul:before {content: ""; display: inline-block; width: 20px; height: 20px; background: #FFF; position: absolute; transform: rotate(45deg); box-sizing: border-box; border-top: 1px solid #EEE; border-left: 1px solid #EEE; margin-left: 100px; margin-top: -10px;}
li.user-logout a:before {content: "\f08b"; font-family: FontAwesome; padding-right: 10px;}
li.user-orders a:before {content: "\f115"; font-family: FontAwesome; padding-right: 10px;}
li.user-profile a:before {content: "\f2c0"; font-family: FontAwesome; padding-right: 10px;}

/* Warenkorb im Header **/

.cartwidget {background: #fff;}
.warenkorb ul {margin-left: -180px !important;}
.warenkorb ul:before {margin-left: 182px !important;  }
.cart_in_widget{display: block;
    padding: 10px;}
.cart_in_widget:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.cart_widget_img, .cart_widget_dsc, .cart_widget_price {
    display: inline-block;
}
.cart_widget_dsc {width: 40%;}
.cart_widget_price {width: 25%;}
.cart_widget_img {width: 40px !important; bottom: 0px !important;}
.cart_widget_price {text-align: center;}
.cart_widget_footer {width: 100%; display: block; padding: 10px;}
.cart_widget_link {display: inline;  }
.btn-small {padding: 7px 12px !important; font-size: 11px !important;}
.warenkorb-bubble {
    position: absolute;
    top: -6px;
    right: -4px;
    padding: 3px 6px 3px 6px;
    background-color: #d2b598;
    color: white;
    font-size: 0.65em;
    border-radius: 50%;
    z-index: 99;
}
a.cart_widget_link.btn-link.btn-small {
    width: 34%;
    text-align: center;
    color: #d5b598;
}
a.cart_widget_link.btn-link.btn-small:hover {
    color: #FFFFFF;
}
    /** Shrinked Header **/
header.shrinked {height: 60px;}
header.shrinked nav > ul > li {height: 60px; line-height: 60px;}

/** Search Input **/
#search-input-wrapper {position: fixed; background: #292929; left: 0; right: 0; z-index: 8000; display: none;}
.search-input {width: 80%; float: left;}
.search-submit {width: 20%; float: right; text-align: right;}
#search-input-wrapper input, #search-input-wrapper button {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
#search-input-wrapper input[type="text"] {border: none; color: #999; background: none; height: 60px; margin: 12px 0; font-size: 20px; font-weight: 300; letter-spacing: 1px; box-sizing: border-box;}
button[type="submit"] {background: none; border: none; height: 84px;}
button[type="submit"] img {width: 24px; height: auto;}
.mobile-search-input {display: none;}
.i-search-mobile {display: none;}

/** Slider **/

#main-slider {width: 100%; height: 500px; position: relative; overflow: hidden;}
#main-slider ul {margin: 0; padding: 0; ist-style: none; position: absolute; width: 200%; height: 100%; top: 0;}
#main-slider li {padding: 0; margin: 0; width: 50%; height: 100%; position: absolute; top: 0; bottom: 0; border: none; background-size: cover; background-repeat: none; background-position: center top; list-style: none;}
#main-slider .slide-nav {position: absolute; display: block; top: 50%; transform: translate(0, -50%); color: #FFF; margin: 0; padding: 0; opacity: 0; z-index: 100; font-size: 36px; cursor: pointer;}
#main-slider .slide-nav:hover {color: #d2b598;}
#main-slider .slide-nav.prev {left: 0; margin-left: 50px;}
#main-slider .slide-nav.next {right: 0; margin-right: 50px;}
#main-slider:hover .slide-nav {opacity: 1.0;}
#main-slider .inner-wrapper {position: relative; max-width: 1080px; height: 100%;}
.slide-content {z-index: 3; position: absolute; color: #FFF; top: 50%; transform: translate(0, -50%)}
.slide-heading {display: block; font-weight: 300; font-size: 32px; letter-spacing: 2px; padding-bottom: 20px;}
.slide-content p {font-size: 16px; font-weight: 500; color: #EEE; letter-spacing: 1px; line-height: 28px;}
.slide-content a.btn-link {margin-top: 30px;}
.slide-content.dark p, .slide-content.dark .slide-heading {color: #333333;}

/** Pagination **/
.category-info {color: #666; font-size: 0; display: block;}
.category-info .site-info {font-size: 14px; display: inline-block; width: 60%;}
#pagination-wrapper {display: block; text-align: center;}
.pagination-controls {display: inline-block; width: auto;}
a.pagination-link, .pagination-current, a.pagination-prev, a.pagination-next {display: inline-block; width: 36px; height: 36px; background: #EEE; color: #666; border-radius: 20px; box-sizing: border-box; line-height: 34px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
.pagination-controls .fa {font-size: 24px !important; position: relative; bottom: -2px;}
.pag-item {margin-right: 10px;}
.pagination-controls .pag-item:last-child {margin-right: 0;}
.pagination-current {background: #d2b598; color: #FFF;}
a.pagination-link:hover, a.pagination-prev:hover, a.pagination-next:hover {background: #DDD;}

/** Sortierung **/
.product-sort {display: inline-block; font-size: 14px; width: 40%; text-align: right;}
.product-sort select { width: auto; min-width: 190px; background: url("../images/select.png"); background-repeat: no-repeat; background-position: right;}

#main-slider .content a {
    color: inherit;
}
/** Heading homepage**/
.startintro {
    display: block;
    margin-bottom: 30px;
}
.category-filter {}
.category-filter ul li {display: inline; margin-right: 10px;}
.category-filter ul li:after {content: "|"; padding-left: 10px; color: #666;}
.category-filter ul li:last-child:after {content: ""; padding: 0;}
.category-filter ul li a {color: #666;}

/** Team **/
.boxcontainer{
    display: block;
    width: 100%;
    font-size: 0;

}
.contentbox {
    width: 25%;
    display: inline-block;
    font-family: Lato;
    font-size: 15px;
    vertical-align: top;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.contentbox h3 {
    color: #d2b598;
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: normal;
}
.contentbox p {
    line-height: 22px;
}
.team {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #EEE;
}
h1.center {
    text-align: center;
    padding-bottom: 10px;
}
span.h1_sub {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #d2b598;
    padding-bottom: 30px;
}
/** Login **/

button.btn-link {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    background: #d2b598;
    text-decoration: none;
    color: #FFF;
    padding: 12px 30px;
    font-size: 15px;
    border: 1px solid #d2b598;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    border-radius: 5px;
}
button.btn-link:hover, a.btn-link:hover {
    background: transparent;
    color: #d2b598;
}
button.btn-link.outline {
    background: transparent;
    color: #d2b598;
}
button.btn-link.outline:hover {
    background: #d2b598;
    color: #FFF;
}
a.btn-link:hover {background: #d2b598; color: #FFF;}
.pwvergessen {
    margin-top: 20px;
}
.pw-form {margin-top: 15px;}
.loginbox{
    max-width: 400px;
    width: 100%;
    height: auto;
    background-color: white;
    color: #333333;
    border: 1px solid #EEEEEE;
    font-family: Lato;
    padding: 22px;
    box-sizing: border-box;
    margin: 0 auto;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.loginbox h1{
    color: #d2b598;
    font-weight: 300;
    margin: 0;
    padding: 10px 0 20px 0;
    text-align: center;
}
.loginbox p {
    margin: 0;
    padding: 0 0 5px 0;
    line-height: 22px;
}
a.btn-link.fw,
button.btn-link.fw{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}
.loginbox input{
    width:100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.loginbox textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #EEE;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    padding: 12px 15px;
    height: 140px;
}
.loginbox select {
    margin-bottom: 20px;
    font-size: 14px;
    background: url("../images/select.png");
    background-position: right;
    background-repeat: no-repeat;
}

.loginbox input[type="email"]:before {
    content: "\f003";
    font-family: FontAwesome;

    font-size: 18px;
}
.loginbox placeholder {
    content: "\f003";
    font-family: FontAwesome;
    font-size: 18px;
}


.loginbox input[type="email"], .loginbox input[type="password"]{
    border:1px solid #DDDDDD;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-family: Lato;
    outline: none;
    border-radius: 5px;
    padding: 12px 15px;
}
a.login-link-bottom {color: #666;}
a.login-link-bottom:hover {color: #d2b598;}


.loginbox input[type="submit"] {
    width: 100%;
    border: 1px solid #d2b598;
    outline: none;
    background-color: white;
    font-family: Lato;
    color: #d2b598;
    font-weight: normal;
    font-size: 16px;
    border-radius: 5px; /* border-radius - Abrundung Ecken *//
}

.login-fehler {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

/** Nutzerprofil **/
#wrapper_kundendaten {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.kundenkonto_menu_toggle {
    display: block;
    padding: 15px 22px;
    border: 1px solid #EEE;
    margin-bottom: 20px;
    display: none;
}
.kundenkonto_menu_toggle::after {
    font-family: FontAwesome;
    content: "\f107";
    float: right;
}
.kundenkonto_menu_toggle.open::after {
    font-family: FontAwesome;
    content: "\f106";
    float: right;
}
.content_kundenkonto {
    display: block;
    margin-top: 40px;
}
.menu_kundenkonto {
    display: block;
    font-size: 16px;
    vertical-align: top;
    border-bottom: 1px solid #EEE;
}
.container_kundenkonto {
    display: block;
    width: 100%;
    font-size: 0;
    padding-top: 20px;
}
.container_kundenkonto .kundenkonto_col {
    display: inline-block;
    width: 48%;
    font-size: 16px;
    margin-right: 4%;
    vertical-align: top;
    border: 1px solid #EEE;
    padding: 22px;
    box-sizing: border-box;
}
.content_kundenkonto h3 {
    font-weight: 500;
    padding: 15px 0;
}
.content_kundenkonto h3:first-child {
    padding-top: 0;
}
.content_kundenkonto p {
    padding-bottom: 15px;
}
.content_kundenkonto a.btn-link {
    margin-top: 10px;
}
span.select_heading {
    font-weight: 700;
    font-size: 14px;
    display: block;
    padding-bottom: 3px;
}
.container_kundenkonto .kundenkonto_col:last-child {
    margin-right: 0;
}
.persoenlichedaten input {
    margin-bottom: 20px;
    font-size: 15px;
}
.persoenlichedaten input[type="submit"] {
    margin-top: 20px;
}

.persoenlichedaten input::placeholder {
    font-size: 15px;
}
.persoenlichedaten.adresse {
    margin: 20px 0 0 0;
}
.sidenav_kundenkonto li {
    display: inline-block;
    padding: 0 0 20px 0;
    margin-right: 25px;
}
.sidenav_kundenkonto li a {
    color: #666;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}
.sidenav_kundenkonto li.active {
    border-bottom: 2px solid #d2b598;
}
.sidenav_kundenkonto li.active > a {
    color: #d2b598;
}
.sidenav_kundenkonto li a:hover {color: #d2b598;}
.sidenav_kundenkonto li:first-child {
    padding-top: 0;
}
.sidenav_kundenkonto li:last-child {
    border-bottom: 0;
}
.content_kundenkonto.alert a.btn-link, .content_kundenkonto.alert button {
    margin-top: 20px;
}

/** Kundenkonto Bestellungen **/
.single-order {display: block; width: 100%; font-size: 0; padding: 10px; color: #666; box-sizing: border-box;}
.single-order .order-img {display: inline-block; width: 20%; font-size: 15px;}
.single-order .img-thumb {width: 60px; height: 60px; background-size: cover !important; background-position: center center; background: #EEE;}
.single-order .order-detail {display: inline-block; width: 80%; font-size: 15px; vertical-align: top;}
.complete-order {border: 1px solid #EEE; margin-bottom: 20px;}
.complete-order.fw {margin-bottom: 20px;}
.order-number {padding: 10px; border-bottom: 1px solid #EEE;}
.order-summary {padding: 10px; border-top: 1px solid #EEE; color: #666;}
.price-output {font-weight: 700;}
span.name {padding-bottom: 3px; display: block;}
span.size-output {text-transform: uppercase;}
span.size {display: inline-block; width: 49%;}
span.count {display: inline-block; width: 49%;}
span.price {display: block; padding-top: 3px;}
.single-order.fw span.size, .single-order.fw span.count, .single-order.fw span.price {width: 33%; display: inline-block;}
.single-order.fw span.price {width: 30%;}
.order-fw-footer {display: block; width: 100%; font-size: 0; padding: 10px; border-top: 1px solid #EEE; box-sizing: border-box; color: #666;}
.order-fw-footer .order-col {display: inline-block; width: 48%; margin-right: 4%; font-size: 15px; vertical-align: middle;}
.order-fw-footer .order-col.total {padding-left: 21.5%; box-sizing: border-box;}
.order-fw-footer .order-col:last-child {margin-right: 0;}
.order-adresse {display: block; padding-bottom: 5px; font-weight: 700;}

/**Registrierung**/

span.input-heading {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
}

.registrierungsbox {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    border: 1px solid #EEEEEE;
    font-size: 14px;
    font-family: Lato;
    padding: 22px;
    box-sizing: border-box;
}
.registrierungsbox h1 {
    color: #d2b598;
}
.registrierungsbox input, .registrierungsbox select {
    margin-bottom: 20px;
    box-sizing: border-box;
}
.registrierungsbox select {
    background: url("../images/select.png");
    background-repeat: no-repeat;
    background-position: right;
}
input.input-wdh {
    margin-bottom: 10px;
}
.registrierungsbox h1{
    text-align: center;
}
.registrierungsbox a.btn-link {
    margin-top: 10px;
}

.registrierungsbox h4{
    font-weight: bold;
}
/** Product Grid Layout **/
.pwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 0;
    grid-column-gap: 40px;}
.box {
    grid-column: auto / span 1;
    margin-bottom: 26px;
}
.imagebox {
    position: relative;
}
.imageoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}
.imagebox:hover .imageoverlay {
    opacity: 1;
}
.overlaycontent {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.pplaceholder {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.pdesc {
    text-align: center;
    margin: 10px 0;
}
.ptitle {
    font-size: 26px;
    text-align: center;
    color: #202020;}
.pprice{
    font-size: 16px;
    text-align: center;
    color: #d2b598;
    display: block;
    padding-top: 5px;
}

/** Single Product **/

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.prod_image {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.prod_right {
    padding: 20px 0;
}
.prod_title {
    display: block;
    font-size: 30px;
}
.prod_price {
    font-size: 26px;
    color: #d2b598;
    display: block;
    margin: 20px 0;
}
.prod_desc {
    font-size: 16px;
    color: #666666;
    display: block;
    margin: 20px 0;
    line-height: 26px;
}
.prod_categories {
    border-top: 1px solid #eee;
    padding: 20px 0px;
    font-size: 16px;
}
.size-select {
width: 100px;
    display: inline-block;
    margin-right: 10px;
}
.spp-tabs {display: block; width: 100%; margin: 0 0 60px 0;}
#spp-tab-container {min-width: 320px; width: 100%; margin: 0 auto; background: #fff; text-align: center;}
.spp-tabs section {display: none; padding: 40px 0 0; border-top: 1px solid #ddd; text-align: left;}
.tab-inner-section {max-width: 800px; width: 100%; margin: 0 auto;}
.spp-tabs input {display: none;}
.spp-tabs section p {color: #666; line-height: 24px;}
.tab-inner-section a.btn-link {margin-top: 20px;}
.spp-tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    border: 1px solid transparent;
}
.spp-tabs label::before {display: none !important;}

.spp-tabs label:hover {
    color: #888;
    cursor: pointer;
}

.spp-tabs input:checked + label {
    color: #555;
    border-color: #FFF;
    border-bottom: 3px solid #d2b598;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}
.rating-result {display: block; margin-bottom: 50px;}
.rating-user {display: block; color: #333; font-weight: 700;}
.rating-date {display: block; color: #d2b598; padding: 5px 0;}
.rating-text {display: block; color: #666; padding: 10px 0; line-height: 24px;}
.rating-4-col {display: block; width: 100%; font-size: 0; border-top: 1px solid #EEE; padding-top: 10px; margin-top: 10px;}
.rating-4-col .rating-col {display: inline-block; width: 25%; font-size: 15px; color: #666;}

@media screen and (max-width: 650px) {
    #spp-tab-container label {
        font-size: 0;
    }
    #spp-tab-container label:before {
        margin: 0;
        font-size: 18px;
    }
    .rating-4-col .rating-col {width: 50%; padding-bottom: 10px;}
    .rating-result {margin-bottom: 40px;}
    .size-select {
        width: 48% !important;
        display: inline-block;
        margin-right: 2% !important;
    }
    input.quantity {
        width: 48% !important;
        margin-right: 0 !important;
    }
    input.addtocart_button {
        width: 100% !important;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

/** Single Product Add to Cart **/
.prod_addtocart {
    margin: 30px 0px;
}
.quantity {
    width: 60px;
    margin-right: 10px;
}
.single-product-ean {display: block; padding-top: 7px; color: #666;}
.single-product-ean b {color: #333;}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}
input[type="number"] {width: 60px;}
input[type="text"]:focus, input[type="number"]:focus,  input[type="email"]:focus, input[type="tel"]:focus,input[type="password"]:focus {
    border: 1px solid #d2b598;
}
input[type="submit"] {cursor:pointer; width: 250px; background: transparent; display: inline-block; color: #d2b598; padding: 12px 40px; border: 1px solid #d2b598; border-radius: 5px; text-decoration: none; font-size: 15px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
input[type="submit"]:hover {background: #d2b598; color: #FFF;}


/** Footer **/
footer {display: block; height: auto; text-align: center; color: #AAA; background-color: #282828; text-align: center; padding: 40px 0;}
.social-icon {width: 40px; height: 40px; border: 1px solid #AAA; border-radius: 20px; box-sizing: border-box; display: inline-block; margin-right: 10px; vertical-align: top; line-height: 38px;}
.social-icon:hover {background: #AAA; color: #282828;}
.social-bar a:last-child .social-icon {margin-right: 0;}
footer a {color: #AAA;}
footer p {padding: 20px 0;}
.footer-menu {font-size: 14px; padding: 30px 0;}
.footer-menu ul li {display: inline; list-style: none; padding-right: 10px; font-weight: 300;}
.footer-menu ul li a {transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
.footer-menu ul li a:hover {color: #d2b598;}
.footer-menu ul li:after {content: "|"; padding-left: 10px;}
.footer-menu ul li:last-child {padding-right: 0;}
.footer-menu ul li:last-child::after {content: "";}
.footer-bottom-text {font-size: 14px; font-weight: 300;}
.footer-bottom-text .fa {color: #d2b598;}
.copyright {display: block; padding-top: 10px;}

/** basic input styling */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea, input, button {outline: none;}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
    background: transparent;
    color: #666;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.dropdown-select-wrapper {position: relative;}

input[type='checkbox'],
input[type='radio'] {
    width:auto;
    float:left;
    margin-right: .75em;
    background:transparent;
    border:none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
    background: transparent;
    position: relative;
    visibility: hidden;
    margin:0;
    padding:0;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    cursor: pointer;
}
input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before,
input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 18px;
    height:18px;
    position: relative;
    top:4px;
    border: 1px solid #eeeeee;
    background: white;
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.13);
}

input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
}

input[type='checkbox']:hover  + label::before,
input[type='radio']:hover  + label::before {
    background:#ddd;
    box-shadow: inset 0 0 0 4px white;
}

input[type='checkbox']:checked  + label::before,
input[type='radio']:checked  + label::before {
    background: #333333;
    box-shadow: inset 0 0 0 4px white;
}
fieldset {
    border: 1px solid #eee;
    padding: 25px 15px;
    max-width: 400px;
}
fieldset label {
    display: block;
    margin: 10px 0;
}


/** Easy vertical align */

.vertical_align_middle {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);}
/** Notification Box **/
.notification {
    padding: 20px 10px;
    margin: 20px 0;
    background: #F7F7F7;
    border: 1px solid #e3e3e3;
}

/** Cart Design **/
.cart_header, .cart_row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.cart_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    border-top: 1px solid #eee;
    padding: 20px;
}

.cartbox {
    border: 1px solid #eee;
}
.cart_image {
    width: 100px;
}
.cart_header {
    padding: 20px;
    border-bottom: 1px solid #eee;}
.cart_row {
    padding: 20px;
}
.cart_delete {
    text-align: center;
}

/* Cart Footer **/

.cart_coupon {
    float: left;
}
.coupon_code {
    width: 150px;
    margin-right: 10px;
}
.cart_update {
    float: right;
}

/* Cart Summary */
.cart_summary {
    margin: 30px 0;
}
below-summary {
    margin: 20px 0;
}
.tocheckout {
    display: block;
    margin-top: 30px;
    float: right;
    box-sizing: border-box;
    margin-right: 10px;
}
.clearfloat{
    clear: both;
}
.checkoutbutton {
    width: 100%;
    margin-bottom: 10px;
    float: none;
}
/* nothing in cart message */
.error_message {
    display: block;
    font-size: 20px;
}
.error_dialog {
     text-align: center;
 }

/* Responsive Cart */
@media screen and (max-width: 800px) {
    .cartbox .box {
        margin-bottom: 0px !important;
    }
    .cart_footer {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .cart_coupon {
        clear: both;
        margin: 5px 0;
        width: 100% !important;
    }
    .cart_update {
        float: none;
        width: 100% !important;
    }
    .cart_header, .cart_row {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 2fr 1fr 1fr;
        grid-column-gap: 5px;
    }
    .cart_row {
        padding: 10px;
    }
    .cart_image {
        width: 40px;
    }
    .pricing {display: none;}
    li.warenkorb ul {
        display: none !important;
    }
    .warenkorb-bubble {
        top: 0px;
        right: 20px;
        padding: 4px 8px 4px 8px;
        font-size: 0.8em;
    }
    .col2 {
        grid-template-columns: 1fr;
    }
    .prod_addtocart {
        margin: 10px 0px;
    }
    .prod_desc {
        margin: 5px 0;
    }
    .cart-quantity {
        width: 60px !important;}
}

/** Responsive Layout **/
@media screen and (max-width: 1320px) {
    .inner-wrapper {box-sizing: border-box; padding-left: 20px; padding-right: 20px;}
}
@media screen and (min-width: 899px) {
    .nav-wrap {display: block !important;}
}

@media screen and (max-width: 899px) {
    body {padding-top: 60px;}
    header {height: 60px;}
    .nav-left {display: block; width: 100%;}
    nav > ul > li {display: block; height: auto; line-height: normal; border-bottom: 1px solid #F7F7F7; margin-right: 0; padding-bottom: 16px; margin-bottom: 16px;}
    .nav-right {display: block; width: 100%; text-align: left;}
    .logo-container {display: none;}
    .nav-right ul li {display: block; width: 100%; padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid #F7F7F7;}
    .nav-right ul li.warenkorb {border-bottom: none;}
    .nav-right ul li a {display: block;}
    nav ul li a {display: block;}
    nav ul li:hover > ul {display: none;}
    .nav-wrap {background: #FFF; position: fixed; top: 60px; left: 0; right: 0; height: 100vh; display: none; border-top: 1px solid #EEE; padding: 40px 20px;}
    header.shrinked nav > ul > li {height: auto; line-height: normal;}
    .logo-mobile {display: inline-block; width: 70%; height: 60px; line-height: 60px; text-transform: uppercase; color: #333333; font-weight: bold; font-size: 26px; letter-spacing: 8px;}
    span.logo {bottom: inherit;}
    .mobile-menu-toggle {display: inline-block; width: 60px; height: 60px; text-align: right; float: right; box-sizing: border-box; padding: 20px 0 20px 20px;}
    .mobile-menu-toggle img {width: 20px; height: auto;}
    .li-cart-mobile {display: inline-block}
    li.warenkorb img {display: none;}
    li.toggle-search {display: none !important;}
    .mobile-search-input {display: block;}
    .mobile-search-input input[type="text"] {box-sizing: border-box; padding: 0 12px; height: 50px; font-size: 15px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
    .mobile-search-input button[type="submit"] {height: 50px; background: #d2b598; color: #FFF; font-size: 15px; border-radius: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0; width: 100%;}
    .i-search-desktop {display: none;}
    .i-search-mobile {display: inline-block;}
    button[type="submit"] img {width: 18px;}
    .pwrapper {grid-template-columns: 1fr 1fr; grid-column-gap: 20px;}
    .box {margin-bottom: 20px;}
    .container_kundenkonto .kundenkonto_col {
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .container_kundenkonto .kundenkonto_col:first-child {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 799px) {
    .menu_kundenkonto {
        display: block !important;
    }
}
@media screen and (max-width: 799px) {
    .col2.single-product-page {grid-template-columns: 1fr; grid-column-gap: 0; max-width: 500px; margin-left: auto; margin-right: auto;}
    .prod_price {margin: 0;}
    .sidenav_kundenkonto li {
        display: block;
        padding: 0 0 20px 0;
        margin-right: 0;
    }
    .sidenav_kundenkonto li.active {
        border-bottom: none;
    }
    .menu_kundenkonto {
        border-bottom: none;
        display: none;
        padding: 0 22px;
        box-sizing: border-box;
    }
    .kundenkonto_menu_toggle {
        display: block;
    }
}
@media screen and (max-width: 699px) {
    #main-slider li {background-position: 80% top;}
    #main-slider .inner-wrapper {width: 100%; padding: 0;}
    .slide-content {width: 100%; background: rgba(0,0,0,0.65); padding: 20px; box-sizing: border-box; transform: unset; bottom: 0; top: unset;}
    .slide-content.dark .slide-heading, .slide-content.dark p {color: #FFF;}
    .slide-content p {font-size: 15px;}
    .slide-content .slide-heading {padding-bottom: 12px;}
    .slide-content a.btn-link {margin-top: 16px;}
    .checkoutbutton {
        width: 100% !important;
        margin-bottom: 10px;
        float: none !important;
        box-sizing: border-box;
        text-align: center;
    }
}
@media screen and (max-width: 599px) {
    .single-order.fw span.size, .single-order.fw span.count, .single-order.fw span.price {
        width: 45%;
        display: inline-block;
    }

    .single-order.fw span.price {
        width: 100%;
        display: block;
    }
    .order-fw-footer .order-col {display: block; width: 100%; margin-right: 0;}
    .order-fw-footer .order-col.total {padding-left: 0; padding-top: 20px;}
}

@media screen and (max-width: 499px) {
    .pwrapper {grid-template-columns: 1fr; grid-column-gap: 0;}
    .single-order .order-img {width: 30%;}
    .single-order .order-detail {width: 70%;}
}


/* Checkout */

.checkout {
    float: none;}

.checkout_details, .checkout_payment, .checkout_summary {
    margin: 20px 0;
    display: block;}
.checkout-form {display: block; width: 100%;}
.form-row-wide {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}
.form-row-left {
    width: 48%;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 3.5%;
}
.form-row-right {
    width: 48%;
    margin-bottom: 10px;
    display: inline-block;
}
.dropdown-select-wrapper:before {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 14px;
    color: #1d1d23;
    pointer-events: none;
}
.agb-check {
    display: block;
    margin: 20px 0;
}
@media (max-width: 800px) {
    .form-row-left {
        width: 100%;
        margin-right: 0 !important;
    }
    .form-row-right {
        width: 100%;
    }

}
/* Tables */
td {padding: 20px 0;}
.checkout_summary table {max-width: 800px; border: 1px solid #eee;}
.checkout_summary tr {padding: 10px 0;}
.checkout_summary th, .checkout_summary td {padding: 15px; border-bottom: 1px solid #eee; text-align: left;}
.checkout_summary tr:last-child>td {
    border: none;
}
.checkout_pleft, .checkout_pright {display: inline-block;}