@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

body {font-family: 'Lato', sans-serif; padding-top: 80px;}
a {text-decoration: none; color: #d2b598;}
* {margin: 0; padding: 0;}
.inner-wrapper {display: block; width: 100%; max-width: 1280px; margin: 0 auto;}
.inner-wrapper.content {margin: 60px auto;}
h1 {font-weight: 300; padding: 0 0 30px 0;}
h2 {font-weight: 300; padding: 0 0 20px 0;}
p {color: #666666;}
a.btn-link {display: inline-block; color: #d2b598; padding: 12px 40px; border: 1px solid #d2b598; border-radius: 5px; text-decoration: none; font-size: 15px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
a.btn-link:hover {background: #d2b598; color: #FFF;}

/** Header **/
header {display: block; width: 100%; height: 80px; font-size: 0; border-bottom: 1px solid #EEEEEE; position: fixed; top: 0; right: 0; left: 0; z-index: 9000; background: #FFF;}
.transition {transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
.nav-left {display: inline-block; width: 35%; font-size: 15px;}
.logo-container {display: inline-block; width: 30%; text-align: center; text-transform: uppercase; color: #333333; font-weight: bold; font-size: 26px; letter-spacing: 8px;}
.logo-mobile {display: none;}
.mobile-menu-toggle {display: none;}
span.logo {display: block; position: relative; bottom: -4px;}
.nav-right {display: inline-block; width: 35%; font-size: 15px;}
nav > ul > li {display: inline-block; list-style: none; margin-right: 20px; position: relative; height: 80px; line-height: 80px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
nav > ul > li:last-child {margin-right: 0;}
nav ul li a {color: #707070; text-decoration: none;}
nav ul li ul {display: none; position: absolute; left: 0; width: 200px; height: auto; background: #292929; padding: 30px; margin-left: -30px; line-height: initial;}
nav ul li ul li {list-style: none; font-weight: 300; padding-bottom: 16px;}
nav ul li ul li:last-child {padding-bottom: 0;}
nav ul li ul li a {color: #AAA; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
nav ul li ul li a:hover {color: #EEE;}
nav ul li:hover > ul {display: block;}
.toggle-search {cursor: pointer;}

.nav-right {text-align: right;}
.nav-right ul li {display: inline; margin-right: 20px;}
.nav-right ul li:last-child {margin-right: 0;}
.nav-right ul li {color: #707070;}
.nav-right ul li.warenkorb {margin-right: 10px;}
.nav-right ul li img {width: 22px; height: auto; position: relative; bottom: -6px;}
.search-icon {width: 20px !important;}

/** Shrinked Header **/
header.shrinked {height: 60px;}
header.shrinked nav > ul > li {height: 60px; line-height: 60px;}

/** Search Input **/
#search-input-wrapper {position: fixed; background: #292929; left: 0; right: 0; z-index: 8000; display: none;}
.search-input {width: 80%; float: left;}
.search-submit {width: 20%; float: right; text-align: right;}
#search-input-wrapper input, #search-input-wrapper button {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
#search-input-wrapper input[type="text"] {border: none; color: #999; background: none; height: 60px; margin: 12px 0; font-size: 20px; font-weight: 300; letter-spacing: 1px;}
button[type="submit"] {background: none; border: none; height: 84px;}
button[type="submit"] img {width: 24px; height: auto;}

/** Slider **/
#main-slider {width: 100%; height: 500px; position: relative; overflow: hidden;}
#main-slider ul {margin: 0; padding: 0; ist-style: none; position: absolute; width: 300%; height: 100%; top: 0;}
#main-slider li {padding: 0; margin: 0; width: 33.333333%; height: 100%; position: absolute; top: 0; bottom: 0; border: none; background-size: cover; background-repeat: none; background-position: center top;}
#main-slider .slide-nav {position: absolute; display: block; top: 50%; transform: translate(0, -50%); color: #FFF; margin: 0; padding: 0; opacity: 0; z-index: 2; font-size: 36px; cursor: pointer;}
#main-slider .slide-nav:hover {color: #d2b598;}

#main-slider .slide-nav.prev {
    left: 0;
    margin-left: 50px;
}

#main-slider .slide-nav.next {
    right: 0;
    margin-right: 50px;
}

#main-slider:hover .slide-nav {
    opacity: 1.0;
}
#main-slider .inner-wrapper {position: relative; max-width: 1080px; height: 100%; margin-top: -20px;}
.slide-content {z-index: 3; position: absolute; color: #FFF; top: 50%; transform: translate(0, -50%)}
.slide-heading {display: block; font-weight: 300; font-size: 32px; letter-spacing: 2px; padding-bottom: 20px;}
.slide-content p {font-size: 16px; font-weight: 300; color: #EEE; letter-spacing: 1px; line-height: 28px;}
.slide-content a.btn-link {margin-top: 30px;}


#main-slider .content a {
    color: inherit;
}
/** Heading homepage**/
.startintro {
    display: block;
    margin-bottom: 30px;
}
.category-filter {}
.category-filter ul li {display: inline; margin-right: 10px;}
.category-filter ul li:after {content: "|"; padding-left: 10px; color: #666;}
.category-filter ul li:last-child:after {content: ""; padding: 0;}
.category-filter ul li a {color: #666;}

/** Product Grid Layout **/
.pwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 0;
    grid-column-gap: 40px;}
.box {
    grid-column: auto / span 1;
}
.imagebox {
position: relative;
}
.imageoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}
.imagebox:hover .imageoverlay {
    opacity: 1;
}
.overlaycontent {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.pplaceholder {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.pdesc {
    text-align: center;
    margin: 10px 0;
}
.ptitle {
    font-size: 26px;
    text-align: center;
    color: #202020;}
.pprice{
    font-size: 16px;
    text-align: center;
color: #d2b598;}

/** Single Product **/

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.prod_image {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.prod_right {
    padding: 20px 0;
}
.prod_title {
    display: block;
    font-size: 30px;
}
.prod_price {
    font-size: 26px;
    color: #d2b598;
    display: block;
    margin: 20px 0;
}
.prod_desc {
    font-size: 16px;
    color: #666666;
    display: block;
    margin: 20px 0;
}
.prod_categories {
    border-top: 1px solid #eee;
    padding: 20px 0px;
    font-size: 16px;
}
/** Single Product Add to Cart **/
.prod_addtocart {
    margin: 30px 0px;
}
.quantity {
    width: 30px;
    margin-right: 10px;
}
input[type="text"], input[type="number"] {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}
input[type="text"]:focus, input[type="number"]:focus {
    border: 1px solid #d2b598;
}
input[type="submit"] {cursor:pointer; width: 250px; background: transparent; display: inline-block; color: #d2b598; padding: 12px 40px; border: 1px solid #d2b598; border-radius: 5px; text-decoration: none; font-size: 15px; transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
input[type="submit"]:hover {background: #d2b598; color: #FFF;}


/** Footer **/
footer {display: block; height: auto; text-align: center; color: #AAA; background-color: #282828; text-align: center; padding: 40px 0;}
.social-icon {width: 40px; height: 40px; border: 1px solid #AAA; border-radius: 20px; box-sizing: border-box; display: inline-block; margin-right: 10px; vertical-align: top; line-height: 38px;}
.social-icon:hover {background: #AAA; color: #282828;}
.social-bar a:last-child .social-icon {margin-right: 0;}
footer a {color: #AAA;}
footer p {padding: 20px 0;}
.footer-menu {font-size: 14px; padding: 30px 0;}
.footer-menu ul li {display: inline; list-style: none; padding-right: 10px; font-weight: 300;}
.footer-menu ul li a {transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;}
.footer-menu ul li a:hover {color: #d2b598;}
.footer-menu ul li:after {content: "|"; padding-left: 10px;}
.footer-menu ul li:last-child {padding-right: 0;}
.footer-menu ul li:last-child::after {content: "";}
.footer-bottom-text {font-size: 14px; font-weight: 300;}
.footer-bottom-text .fa {color: #d2b598;}

/** basic input styling */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%
}
textarea, input, button {outline: none;}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
    background: transparent;
    color: #666;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.dropdown-select-wrapper {position: relative;}

input[type='checkbox'],
input[type='radio'] {
    width:auto;
    float:left;
    margin-right: .75em;
    background:transparent;
    border:none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
    background: transparent;
    position: relative;
    visibility: hidden;
    margin:0;
    padding:0;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    cursor: pointer;
}
input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before,
input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 18px;
    height:18px;
    position: relative;
    top:4px;
    border: 1px solid #eeeeee;
    background: white;
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.13);
}

input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
}

input[type='checkbox']:hover  + label::before,
input[type='radio']:hover  + label::before {
    background:#ddd;
    box-shadow: inset 0 0 0 4px white;
}

input[type='checkbox']:checked  + label::before,
input[type='radio']:checked  + label::before {
    background: #333333;
    box-shadow: inset 0 0 0 4px white;
}
fieldset {
    border: 1px solid #eee;
    padding: 25px 15px;
}
fieldset label {
    display: block;
    margin: 10px 0;
}


/** Easy vertical align */

.vertical_align_middle {
    display: block;
position: relative;
top: 50%;
transform: translateY(-50%);}

/** Cart Design **/
.cart_header, .cart_row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.cart_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    border-top: 1px solid #eee;
    padding: 20px;
}

.cartbox {
    border: 1px solid #eee;
}
.cart_image {
    width: 100px;
}
.cart_header {
    padding: 20px;
    border-bottom: 1px solid #eee;}
.cart_row {
    padding: 20px;
}
.cart_delete {
    text-align: center;
}

/* Cart Footer **/

.cart_coupon {
    float: left;
}
.coupon_code {
    width: 150px;
    margin-right: 10px;
}
.cart_update {
    float: right;
}

/* Cart Summary */
.cart_summary {
    margin: 30px 0;
}

/** Responsive Layout **/
@media screen and (max-width: 1320px) {
    .inner-wrapper {box-sizing: border-box; padding-left: 20px; padding-right: 20px;}
}
@media screen and (min-width: 899px) {
    .nav-wrap {display: block !important;}
}

@media screen and (max-width: 899px) {
    body {padding-top: 60px;}
    header {height: 60px;}
    .nav-left {display: block; width: 100%;}
    nav > ul > li {display: block; height: auto; line-height: normal; border-bottom: 1px solid #F7F7F7; margin-right: 0; padding-bottom: 16px; margin-bottom: 16px;}
    .nav-right {display: block; width: 100%; text-align: left;}
    .logo-container {display: none;}
    .nav-right ul li {display: block; width: 100%; padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid #F7F7F7;}
    .nav-right ul li.warenkorb {border-bottom: none;}
    .nav-wrap {background: #FFF; position: fixed; top: 60px; left: 0; right: 0; height: 100vh; display: none; border-top: 1px solid #EEE; padding: 40px 20px;}
    header.shrinked nav > ul > li {height: auto; line-height: normal;}
    .logo-mobile {display: inline-block; width: 70%; height: 60px; line-height: 60px; text-transform: uppercase; color: #333333; font-weight: bold; font-size: 26px; letter-spacing: 8px;}
    span.logo {bottom: inherit;}
    .mobile-menu-toggle {display: inline-block; width: 60px; height: 60px; text-align: right; float: right; box-sizing: border-box; padding: 20px 0 20px 20px;}
    .mobile-menu-toggle img {width: 20px; height: auto;}
    .li-cart-mobile {display: inline-block}
    li.warenkorb img {display: none;}
    li.toggle-search {display: none !important;}
    .mobile-search-input {display: block;}
    .mobile-search-input input[type="text"] {box-sizing: border-box; padding: 0 12px; height: 50px; font-size: 15px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
    .mobile-search-input button[type="submit"] {height: 50px; background: #d2b598; color: #FFF; font-size: 15px; border-radius: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0; width: 100%;}
    .i-search-desktop {display: none;}
    .i-search-mobile {display: inline-block;}
    button[type="submit"] img {width: 18px;}
}


/* Checkout */

.checkout {
    float: none;}

.checkout_details, .checkout_payment, .checkout_summary {
    margin: 20px 0;
    display: block;}

.form-row-wide {
    width: 100%;
    margin-bottom: 10px;
}
.form-row-left {
    width: 47%;
    margin-bottom: 10px;
    float: left;
}
.form-row-right {
    width: 47%;
    margin-bottom: 10px;
    float: right;
}
.dropdown-select-wrapper:before {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 14px;
    color: #1d1d23;
    pointer-events: none;
}